.selected-key {
    width: 50px;
    font-size: 2rem;
    font-weight: 900;
    color: black;
}
.key-passed,
.key-failed {
    box-shadow: 2px 1px 3px 0 #000, 2px 1px 3px 2px #000;
    color: #fff;
}
.key-passed {
    background-color: #2779bd20;
    color: #2779bd;
}

.key-failed {
    background-color: #ef575320;
    color: #ef5753;
}

